*{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image:url(./assets/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px,100vw);
    width: 100vw;
    height: 80vh;
    
}

.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.64;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    max-width: 80vw;
    height: 62px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    cursor: pointer;
    color: red;
    margin-top: 5px;
    width: 8rem;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}

#langbtn{
    background: transparent;
    background-clip: padding-box;
    border: 1px solid #ccc; /* Border with a light gray color */
    
    border-radius: 0.25rem;
    transition-duration: 250ms;
    transition-property: background-color,border-color;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    vertical-align: text-top;
    width: auto;
    font-size: 0.875rem;
    font-weight: 500;
    min-height: 2rem;
    padding: 0.25rem 1rem

}
#signinbtn{
    margin: 0;
    align-items: center;
    border: 0 solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    transition-duration: 250ms;
    transition-property: background-color,border-color;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    vertical-align: text-top;
    width: auto;
    font-size: 0.875rem;
    font-weight: 500;
    min-height: 2rem;
    padding: 0.25rem 1rem;
    background: rgb(229,9,20);
    color: rgb(255,255,255);
}


.hero{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    gap: 25px;
    text-align: center;
    
}

.hero :first-child{
    margin: 0;
   font-size: 3rem;
   font-weight: 700;
}
.hero :nth-child(2){
    margin: 1rem 0 0;
  font-size: 1.75rem;
  font-weight: 450;
}
.hero :nth-child(3){
    margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}

.hero div{
    display: flex;
}

#email{
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    line-height: 1.5;
    width: 21rem;
    font-size: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    letter-spacing: inherit;
}

#startingSignIn{
    background: rgb(229,9,20);
    margin-top: 0;
    margin-left: 0.5rem;
    align-items: center;
    border: 0 solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    width: auto;
    padding: 0.75rem 1.5rem;
}

.seperation{
    height: 8px;
    background-color: rgb(64, 63, 63);
}

.first {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: calc( 100% - 4rem );
    align-items: center;
    text-align: center;
    padding: 4.5rem 0;
    margin-left: 192px;
    margin-right: 192px;
   
}


.first div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-right: 6px;
    padding-top: 0px;
    text-align: left;
    -moz-box-align: center;
    z-index: 1;
    
}
.first >div :first-child{
    font-size: 3rem;
}
.first>div :nth-child(2){
    font-size: 1.4rem;
}


.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
  top: 46px;
  left: 96px;
  width: 364px;
  overflow: hidden;
}




.second {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: calc( 100% - 4rem );
    align-items: center;
    text-align: center;
    padding: 4.5rem 0;
    margin-left: 192px;
    margin-right: 192px;
   
}
.second div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-right: 6px;
    padding-top: 0px;
    text-align: left;
    -moz-box-align: center;
    z-index: 1
    
}
.second >div :first-child{
    font-size: 3rem;
}
.second>div :nth-child(2){
    font-size: 1.4rem;
    
}



.fimg img{
    margin-top:10px ;
    margin-right: 130px;
    position: relative;
    width: 100%;
    max-width: 800px;
    border-image-repeat: stretch;
    z-index: 10;
}

.divbox{
    padding-top: 72px;
}

.faq{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    padding:0 12rem 4rem 12rem  ;
}
.faqbox{
    display: flex;
    flex-direction: column;
    background-color: gray;
    align-items: center;
    margin-top: 1rem;
    font-size: 18px;
    font-stretch: 100%;
    box-sizing: border-box;
    background-color: rgb(64, 63, 63);
    justify-content: space-between;
}
.faqbox:hover{
    cursor: pointer;
}

.btn{
    width: 100%;
    margin: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.btn span{
    padding: 0px 10px;
}
.btn svg{
    padding-right: 10px;
}
.info{
    padding: 1rem 0.5rem;
    content:auto;
    overflow: auto;
}
.info p{
    text-align: left;
}
.faqbox svg:hover{
    transition: all 1s linear;
}


/* footer  */

.starting{
    margin-top: 1rem;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    text-align: center;
}

.starting span{
    margin-bottom: 25px;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}


.starting div{
    display: flex;
}



.footer {
    color: white;
    padding:6rem 12rem 0rem 12rem  ;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer_main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer_items li{
    list-style-type: none;
    font-size: 14px;
    font-weight: 400;
    margin-left: 12px;
    margin-top: 16px;
    color: rgba(255,255,255,0.7);
    
}
.end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

