*{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
body{
    background-color: black;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    -moz-osx-font-smoothing: grayscale;
}
.main{
    background-image:url(/assets/images/bg.jpg);
    background-position: center center;
    background-repeat: repeat; 
    background-size: max(1000px,100vw);
    width: 100vw;
    height: 100vh;
    
}
 
.main .box{
    height: 100%;
    width: 100%;
    opacity: 0.64;
    background-color: black;
    position: absolute;
    top: 0;
}

.main .signbox{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin: 0 auto -236px;
    max-width: 350px;
    min-height: 75vh;
    margin-bottom: 90px;
    padding: 60px 68px 40px 68px;
    border-radius: 6px;
    opacity: .7;
    background-color: black;
    position: relative;
    top: 0;
    
}
.main .signbox h1{
    margin: 0 0 16px;
}

#signboxEmail , #signboxPass{
    padding: 0 1rem 0;
    background: #333;
    border: 1px solid transparent ;
    border-radius: 0.25rem;
    line-height: 2.5;
    width: 90%;
    font-size: 1rem;
    
}


#signinBtn{
    align-items: center;
    border: 0 solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    vertical-align: text-top;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    min-height: 2rem;
    line-height: 2.5;

    background: rgb(229,9,20);
    color: rgb(255,255,255);
    transition-duration: 250ms;
    transition-property: background-color,border-color;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
}
.space{
    height: 2rem;
}


#logo{
    cursor: pointer;
    color: red;
    margin-left: 9rem;
    margin-top: 15px;
    width: 8rem;
    position: relative;
    z-index: 10;
}

.help{
    margin-top: 10px;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.newUser span{
    color: #8c8c8c;
    font-weight: 400;
}
.newUser span a{
    color: #fff;
    font-size: 16px;
  font-weight: 400;
}
.newUser div{
    color: #8c8c8c;
  font-size: 13px;
}